.box
  width: 100px
  height: 100px
  background: red

.list
  width: 400px
  height: 100px
  display: flex
  li
    flex: 1
    background: pink
    &:nth-child(2n)
      background: green

.box2
  width: 200px
  height: 390px
  background: url(./bg.jpg) 0 0 no-repeat
  background-size: cover


.avatar
  border-radius: 50%